.place-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order-img {
    width: 80%;
}

#address, #method {
    display: flex;
}

#items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#item {
    color: black;
}

img {
    width: 50%;
}

#item-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#summary > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
}

.btn-block {
    border-radius: 5px;
}