.navbar {
    padding: 20px;
    background-color: lightgray;
}

ul {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}

li:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}
