.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: lightgray;
    margin: 20px;
    z-index: 1;
}

.product-info {
    /* height: 100px;
    margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 15px 0px;
}

.price { margin-top: 5px; }

.add-btn {
    background-color: black;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    outline-width: none;
    outline: none;
    padding: 0px 12px;
}